<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" href="/materialize/css/materialize.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/Css/StyleListAdmin.css"/>
<script src="/materialize/js/materialize.js"></script>
<!-- Link do CSS Tags-->
<link rel="stylesheet" type="text/css" href="/Css/StyleTag.css"/>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<header th:replace="Fragments/padrao :: cabecalho"></header>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Alterar</th>
				<th>Excluir</th>		
			</tr>
		</thead>
		<tbody>
			<tr th:each="adm:${admins}">
				<td th:text="${adm.id}"/>
				<td th:text="${adm.name}"/>
				<td th:text="${adm.email}"/>
				<td><a th:href="@{/alterarAdmin(id=${adm.id})}">Alterar</a></td>
				<td><a th:attr="onclick=|return confirm('Deseja excluir o Administrador: ${adm.name}')|" th:href="@{/excluirAdmin(id=${adm.id})}">Excluir</a></td>
			</tr>
		</tbody>
	</table>
	<div class="pages">
		<ul class="pagination">
    		<li th:class="${pagAtual == 1 ? 'disable' : 'waves-effect'}">
    			<a th:href="${pagAtual > 1 ? pagAtual - 1 : '#'}"><i class="material-icons">chevron_left</i></a>
    		</li>
    		
    		<li th:class="${pagAtual == p ? 'active blue' : waves-effect}" th:each="p:${numPaginas}">
    			<a th:href="${p}"><span th:text="${p}"/></a>
    		</li>
    		
    		<li th:class="${pagAtual == totalPags ? 'disable' : 'waves-effect'}">
    			<a th:href="${pagAtual < totalPags ? pagAtual + 1 : '#'}"><i class="material-icons">chevron_right</i></a>
    		</li>
  		</ul>
	</div>
	<footer th:replace="Fragments/padrao :: rodape"></footer>
</body>


</html>