<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" href="/materialize/css/materialize.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/Css/StyleListAdmin.css"/>
<script src="/materialize/js/materialize.js"></script>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="Fragments/padrao :: cabecalho"></header>
	<div class="row">
    <form class="col s12" action="registerSkatepark" method="post">
    <input type="hidden" name="id" th:value="${admin?.id}"/>
 		<div class="row">
 			<div class="input-field col s12">
          		<input placeholder="Insira o nome do pico de skate" id="name" name="name" th:value="${skatepark?.name}" type="text" class="validate">
          		<label for="first_name">Pico de skate</label>
       		</div>
 		</div>
 		<div class="row">
 		<h1>Informe se pista fica em um lugar público ou privado</h1>
 			<div class="input-fiel col s6">
 				<p>
      				<label>
        				<input name="type" type="radio" th:checked="${skatepark?.type == 'PU'}" value="PU"/>
       				 	<span>Pública</span>
     				 </label>
    			</p>
   			 	<p>
      				<label>
        				<input name="type" type="radio" th:checked="${skatepark?.type == 'PV'}" value="PV" />
        				<span>Privada</span>
      				</label>
    			</p>
 			</div>
 			<div class="input-fiel col s6">
 				<input placeholder="Insira o tipo de pista" id="typeSkatePark" name="typePark" th:value="${skatepark?.typePark}" type="text" class="validate">
          		<label for="first_name">First Name</label>
 			</div>
 		</div>
 		<div class="row">
 			<div class="input-fiel col s12">
 				<input placeholder="Placeholder" id="desc" name="desc" th:value="${skatepark?.desc}" type="text" class="validate">
          		<label for="first_name">First Name</label>
 			</div>
 		</div>
 		
 		<button class="btn waves-effect waves-light" type="submit">Submit
    		<i class="material-icons right">send</i>
 		</button>
    </form>
  </div>
  <div th:replace="fragments/mensagem"></div>
	<footer th:replace="Fragments/padrao :: rodape"></footer>
</body>
</html>