<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Link do CSS Tags-->
<link rel="stylesheet" type="text/css" href="/Css/StyleTag.css"/>
</head>
<body>
	
<header class="header-Main" th:fragment="headPeaksboard">
        <div class="Left-Header">
            <h1>PeaksBoard</h1>
            <h2>Olá Administrador</h2>
        </div>
        <div class="Right-Header">
            <nav class="Menu"><!-- Não colocar como Nav pois vai pegar o css do materialize -->
                <ul>
                    <a href="../formRegisterAdmin"><li>Administradores</li></a>
                    <a href="../FormRegisterCategory"><li>Categorias</li></a>
                    <a href="../registerSkatepark"><li>Skateparks</li></a>
                </ul>
            </nav>
            <div class="Image-Header">
            	<img src="../ImagesFragments/wheelHeader.png" alt="Image de uma roda de skate no header" />
            </div>     
        </div>
</header>
	
<footer class="footer-main Footer-Low" th:fragment="footerPeaksboard-Low">
        <div class="left-footer">
        	<div class="Image-left-footer">
        		<img src="ImagesFragments//wheelFooter.png" alt="Image e uma roda de skate no footer">
        	</div>
            <p>In search of the nearest skateboarding adrenaline</p>
        </div>
        <div class="right-footer">
            <p>© 2022 - PeaksBoard
            </p>
        </div>
</footer>

<footer class="footer-main" th:fragment="footerPeaksboard">
        <div class="left-footer">
            <img src="../ImagesFragments/wheelFooter.png" alt="Image e uma roda de skate no footer">
            <p>In search of the nearest skateboarding adrenaline</p>
        </div>
        <div class="right-footer">
            <p>© 2022 - PeaksBoard
            </p>
        </div>
</footer>
</body>
</html>