@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
}

/* Stylization of where the content is located */

.Main-Register{
	width: 95%;
	margin: 2em auto;
	padding: 1em;
	background-color: #0D0D0D;
}

.Main-Register h1{
	font-size: 2.5vw;
	font-family: Roboto-Bold;
	color: #fff;
}

/* Start styling the form */

.Form-Register{
	width: 100%;
	text-align: center;
	
}

/* Styling the textarea label */

Label-Textarea{
	text-align: left !important;
	color: #FFF !important;
}

/* Forms button style */

.position-button{
	position: relative;
	text-align: right;
}

.Form-Register button{
	background-color: #A63F03;
	border-radius: 5px;
	border-color: #000;
	font-family: Roboto-Condensed;
	font-weight: bold !important;
	font-size: 1.4vw;
	align-content: flex-end;
}

.Form-Register button:hover{
	background-color: #000;
	border-color: #0D0D0D;
}

.div-input{
	margin: 1em 0;
}